.top-bar {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: black;
  
}

.top-nav {
    background-color: #333;
    overflow: hidden;
  }

.top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
#img-size {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  width: 40px;
  margin-right:0px;
}



#list-change {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  margin-left:90px;

}

#sign-in-button {
  border-radius: 2px;
  padding: 15px, 40px;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  height: 30px;
  width: 100px;
  font-size: 16px;
}

#align-right {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

#align-left {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  float: left;
}

/*#pic-container {
  background-image: url(https://cdn.shutterstock.com/shutterstock/videos/9346742/thumb/5.jpg);
  background-repeat: no-repeat, repeat;
}*/

.create {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

#button {
  text-align: center;
  border-radius: 4px;
  margin: 17px, 5px, 0px, 8px;
  padding: 10px, 8px;
  width: 400px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  background-color:#ffbf00;
}

.login {
  border: 10px solid #f1f1f1;
  padding: 20px;
  width: 400px;
  height: 600px;
  background-color: #f1f1f1;
}

input[type=text],
input[type=password] {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  padding: 16px;
  margin-top: 0px;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.container {
  background-image: url(https://cdn.shutterstock.com/shutterstock/videos/9346742/thumb/5.jpg);
  background-size:cover;
}

#align-l {
  position: relative;
  margin-left: 20px;
}

#align-r {
  position: relative;
  margin-left: 40px;
}

#f-button {
  margin-left: 20px;
  border-radius: 2px;
  padding: 15px, 40px;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  height: 30px;
  width: 100px;
  font-size: 16px;
}

#f-word {
  position: relative;
  margin-left: 300px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom:16px;
}

.container-fluid {
  background-color: #333;
  margin-top: 0px;
}
#f-word2{
  color:white;
  font-size:17px;
  text-align: center;

}
#f-user {
  text-decoration: none;

}


